<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2>To do</h2>
      <a routerLink="/todo-add">Add to-do content</a>
      <table class="table">
        <thead>
          <tr>
            <th>Completed?</th>
            <th>Id</th>
            <th>Content</th>
            <th>Creation Date</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          @for (todo of todoList; track todo) {
          <tr>
            <td>
              <input
                type="checkbox"
                [checked]="todo.isCompleted"
                (change)="isCompleted(todo.id)"
                class="form-check-input"
                aria-label="isCompleted"
              />
            </td>
            <td>{{ todo.id }}</td>
            <td>
              <span>{{ todo.content }}</span>
            </td>
            <td>{{ todo.created | date : "short" }}</td>
            <td>
              <button (click)="delete(todo.id)" class="btn btn-danger">
                Delete
              </button>
              <a
                class="btn btn-success mx-2"
                [routerLink]="['/todo-update', todo.id]"
                >Update</a
              >
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
